---
import Layout from "../layouts/Layout.astro";
import AddNewImage from "../components/AddImage";
const pageTitle = "Add New Image | Find X";
---

<Layout pageTitle={pageTitle}>
  <h1>Add an Image</h1>
  <AddNewImage client:only="react" />
</Layout>
