---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Dashboard | Find X";
---

<Layout pageTitle={pageTitle}>
  <ul class="text-center">
    <li class="py-2">
      <a href="/images/" class="hover:text-blue-800">Images</a>
    </li>
    <li class="py-2">
      <a href="/leaderboard/" class="hover:text-blue-800">Leaderboard</a>
    </li>
    <li class="py-2">
      <a href="/users/" class="hover:text-blue-800">Users</a>
    </li>
  </ul>
</Layout>
