---
import "./src/styles/global.css";
import GameImage from "../components/GameImage";
import ContextMenu from "../components/ContextMenu";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Find X</title>
  </head>
  <body>
    <ContextMenu client:load />
    <GameImage client:load />
  </body>
</html>
