---
import "./src/styles/global.css";
import GameArena from "../components/GameArena";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Find X</title>
  </head>
  <body class="h-full">
    <GameArena client:only="react" />
  </body>
</html>
