---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Home | Find X";
---

<Layout pageTitle={pageTitle}>
  <h1>Welcome to the Find X Game!</h1>
  <main class="flex justify-center">
    <ul>
      <li><a href="/game">Play game</a></li>
      <li><a href="/add-image">Add image</a></li>
      <li><a href="/update-image">Update image</a></li>
    </ul>
  </main>
</Layout>
