---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Welcome to the Find X Game!</h1>
  <main class="flex justify-center">
    <ul>
      <li><a href="/game">Play game</a></li>
      <li><a href="/leaderboard">See the Leaderboard</a></li>
    </ul>
  </main>
</Layout>
