---
import SignUpForm from "../components/SignUpForm";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Sign up | Find X";
---

<Layout pageTitle={pageTitle}>
  <h1>Sign up</h1>
  <SignUpForm client:load />
</Layout>
