---
import "./src/styles/global.css";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class="my-0 m-auto w-full max-w-[80ch] p-10 [&>h1]:my-[0.67em] [&>h1]:text-[2em] [&>h1]:font-bold [&>h1]:text-center [&_h2]:my-[0.83em] [&_h2]:text-[1.5em] [&_h2]:font-bold"
  >
    <slot />
  </body>
</html>
